WebApp(On_Raspberry)/node-red app/flows.json
[{"id":"32369c38.86e7b4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d7953dbe.ca718","type":"serial in","z":"32369c38.86e7b4","name":"","serial":"34cdada9.ed6d62","x":130,"y":380,"wires":[["f60cfc12.2778b"]]},{"id":"f60cfc12.2778b","type":"debug","z":"32369c38.86e7b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":400,"wires":[]},{"id":"29995810.d77938","type":"ui_switch","z":"32369c38.86e7b4","name":"","label":"On/Off","tooltip":"","group":"3cdf2e75.0b5a02","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":720,"wires":[["25999bf4.f306c4","1b307063.79eb6"]]},{"id":"25999bf4.f306c4","type":"function","z":"32369c38.86e7b4","name":"Prepare msg","func":"var o ={};\nif (msg.payload===true) \n{\n    o.payload = \"A=101\\n\";\n}\nif (msg.payload===false) \n{\n    o.payload = \"A=102\\n\";\n}\n\nreturn o;","outputs":1,"noerr":0,"x":410,"y":720,"wires":[["5bc2d4b0.285fac","151f0eeb.0d7a91"]]},{"id":"a446b3b4.9740f","type":"ui_template","z":"32369c38.86e7b4","group":"e9a715c3.817d18","name":"","order":1,"width":0,"height":0,"format":"<div>\n    <a href=\"http://192.168.43.68/menuResponsive.php\"><span>WS2812b controller</span></a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":427.9999942779541,"y":800.0000591278076,"wires":[["5bc2d4b0.285fac"]]},{"id":"e3e3e038.ec0db","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"3cdf2e75.0b5a02","order":9,"width":"0","height":"0","passthru":false,"label":"Bouncing balls","tooltip":"","color":"","bgcolor":"","icon":"","payload":"A=502","payloadType":"str","topic":"","x":420,"y":1000,"wires":[["5bc2d4b0.285fac"]]},{"id":"2fa56ed0.d097f2","type":"ui_switch","z":"32369c38.86e7b4","name":"","label":"RGB","tooltip":"","group":"3cdf2e75.0b5a02","order":4,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":920,"wires":[["745dd370.c2198c","1b307063.79eb6"]]},{"id":"745dd370.c2198c","type":"function","z":"32369c38.86e7b4","name":"Prepare msg","func":"var o ={};\nif (msg.payload===true) \n{\n    o.payload = \"P=1\\n\";\n}\nif (msg.payload===false) \n{\n    o.payload = \"P=0\\n\";\n}\n\nreturn o;","outputs":1,"noerr":0,"x":430,"y":920,"wires":[["5bc2d4b0.285fac","151f0eeb.0d7a91"]]},{"id":"e2049f74.1619c","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"3cdf2e75.0b5a02","order":10,"width":"0","height":"0","passthru":false,"label":"Bubbles","tooltip":"","color":"","bgcolor":"","icon":"","payload":"A=503","payloadType":"str","topic":"","x":400,"y":1060,"wires":[["5bc2d4b0.285fac"]]},{"id":"5262a589.24e28c","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"3cdf2e75.0b5a02","order":11,"width":"0","height":"0","passthru":false,"label":"Color cycle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"A=151","payloadType":"str","topic":"","x":410,"y":1120,"wires":[[]]},{"id":"d4b4acc9.d0e77","type":"ui_slider","z":"32369c38.86e7b4","name":"","label":"Luminosité","tooltip":"","group":"3cdf2e75.0b5a02","order":5,"width":"0","height":"0","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":90,"y":640,"wires":[["fbe2b4fa.6e1b08","1b307063.79eb6"]]},{"id":"fbe2b4fa.6e1b08","type":"function","z":"32369c38.86e7b4","name":"Prepare msg","func":"var o ={};\n\n    o.payload = \"B=\"+msg.payload+\"\\n\";\nreturn o;","outputs":1,"noerr":0,"x":410,"y":620,"wires":[["5bc2d4b0.285fac","151f0eeb.0d7a91"]]},{"id":"d92c046.7c0cff8","type":"function","z":"32369c38.86e7b4","name":"Set Color","func":"var o ={};\n\n    o.payload = \"C=\"+msg.payload+\"\\n\";\nreturn o;","outputs":1,"noerr":0,"x":300,"y":522,"wires":[["89e8168d.7aef68","77665532.e469bc","5bc2d4b0.285fac","151f0eeb.0d7a91"]]},{"id":"230fc7ab.dc8088","type":"ui_colour_picker","z":"32369c38.86e7b4","name":"Color Picker","label":"","group":"3cdf2e75.0b5a02","format":"hex","outformat":"string","showSwatch":false,"showPicker":true,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":3,"width":"4","height":"5","passthru":true,"topic":"","x":90,"y":520,"wires":[["d92c046.7c0cff8","1b307063.79eb6"]]},{"id":"c1fa45df.0cb098","type":"ui_numeric","z":"32369c38.86e7b4","name":"Select LED","label":"LED SELECTED","tooltip":"","group":"3cdf2e75.0b5a02","order":8,"width":"0","height":"0","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"56","step":1,"x":110,"y":1320,"wires":[["92049a13.e9f248","5a436972.12f128","1b307063.79eb6"]]},{"id":"5a436972.12f128","type":"ui_slider","z":"32369c38.86e7b4","name":"Select LED","label":"SELECT LED","tooltip":"","group":"3cdf2e75.0b5a02","order":6,"width":"0","height":"0","passthru":true,"outs":"end","topic":"","min":0,"max":"56","step":1,"x":110,"y":1240,"wires":[["92049a13.e9f248","c1fa45df.0cb098","1b307063.79eb6"]]},{"id":"92049a13.e9f248","type":"function","z":"32369c38.86e7b4","name":"Selected LED","func":"var o ={};\n\n    o.payload = \"N=\"+ msg.payload +\"\\n\";\nreturn o;","outputs":1,"noerr":0,"x":381.00000381469727,"y":1267.000069618225,"wires":[["5bc2d4b0.285fac","151f0eeb.0d7a91"]]},{"id":"ecc57c49.1910d","type":"ui_switch","z":"32369c38.86e7b4","name":"","label":"Visualizer","tooltip":"","group":"3cdf2e75.0b5a02","order":7,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":1440,"wires":[["23af66bb.b9d00a","1b307063.79eb6"]]},{"id":"23af66bb.b9d00a","type":"function","z":"32369c38.86e7b4","name":"Prepare msg","func":"var o ={};\nif (msg.payload===true) \n{\n    o.payload = \"V=101\\n\";\n}\nif (msg.payload===false) \n{\n    o.payload = \"V=101\\n\";\n}\n\nreturn o;","outputs":1,"noerr":0,"x":410,"y":1440,"wires":[["e37f8c98.e683","5bc2d4b0.285fac","151f0eeb.0d7a91"]]},{"id":"89e8168d.7aef68","type":"change","z":"32369c38.86e7b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":840,"wires":[["2fa56ed0.d097f2"]]},{"id":"a392fe14.08234","type":"debug","z":"32369c38.86e7b4","name":"Dashboard Log","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1340,"y":940,"wires":[]},{"id":"1b307063.79eb6","type":"function","z":"32369c38.86e7b4","name":"Enregistre les événements","func":"// Créé une variable pour stocker le journal du dashboard si inexistante\n// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Supprime le plus anciens message si > 20\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// Enregistre les messages du dashboard pour le prochain affichage\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// Affiche le journal des messages\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"x":1140,"y":1000,"wires":[["a392fe14.08234","18af4341.02737d"]]},{"id":"18af4341.02737d","type":"ui_template","z":"32369c38.86e7b4","group":"7cb1f154.168ed","name":"Journal des événement du Dashboard","order":1,"width":"0","height":"0","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>valeur associée : {{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1410,"y":1040,"wires":[[]]},{"id":"9d8fa071.e77f1","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"7cb1f154.168ed","order":5,"width":"0","height":"0","passthru":false,"label":"Restart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":1140,"y":800,"wires":[["b71cefdc.033a3"]]},{"id":"b71cefdc.033a3","type":"exec","z":"32369c38.86e7b4","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Restart","x":1340,"y":800,"wires":[[],[],[]]},{"id":"1e831869.020228","type":"ui_button","z":"32369c38.86e7b4","name":"Shutdown server","group":"7cb1f154.168ed","order":4,"width":"0","height":"0","passthru":false,"label":"Shutdown server","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1180,"y":740,"wires":[["779af7bc.930e88"]]},{"id":"779af7bc.930e88","type":"exec","z":"32369c38.86e7b4","command":"sudo pkill python3","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"shutdown server","x":1360,"y":740,"wires":[[],[],[]]},{"id":"24a5c29c.538dee","type":"ui_button","z":"32369c38.86e7b4","name":"Trigger server","group":"7cb1f154.168ed","order":3,"width":"0","height":"0","passthru":false,"label":"Trigger server","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1180,"y":680,"wires":[["9408058e.da2a68"]]},{"id":"9408058e.da2a68","type":"exec","z":"32369c38.86e7b4","command":"sudo python3 /var/www/html/AlaWeb-master/AlaWeb.py /dev/ttyACM0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Trigger on server","x":1380,"y":680,"wires":[[],[],[]]},{"id":"f0a18680.279238","type":"ui_switch","z":"32369c38.86e7b4","name":"","label":"Lampe","tooltip":"","group":"2f4f6375.844b7c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":1580,"wires":[["d344686.ab2a898","1b307063.79eb6"]]},{"id":"38d18cf.45c6374","type":"ui_slider","z":"32369c38.86e7b4","name":"","label":"Luminosité","tooltip":"","group":"2f4f6375.844b7c","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"5","x":90,"y":1640,"wires":[["bee0c389.a6f95","1b307063.79eb6"]]},{"id":"ac97c2bf.c9b3","type":"debug","z":"32369c38.86e7b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":1660,"wires":[]},{"id":"e37f8c98.e683","type":"ui_text","z":"32369c38.86e7b4","group":"2f4f6375.844b7c","order":9,"width":0,"height":0,"name":"","label":"Led N° && R,G,B values :","format":"{{msg.payload}}","layout":"col-center","x":1110,"y":1480,"wires":[]},{"id":"d344686.ab2a898","type":"function","z":"32369c38.86e7b4","name":"Prepare msg","func":"var o ={};\nif (msg.payload===true) \n{\n    o.payload = \"C=\"+\"FFFFFF\"+\"\\n\"+\"A=101\\n\";\n}\nif (msg.payload===false) \n{\n    o.payload = \"A=102\\n\";\n}\n\nreturn o;","outputs":1,"noerr":0,"x":370,"y":1580,"wires":[["e37f8c98.e683","5bc2d4b0.285fac"]]},{"id":"77665532.e469bc","type":"debug","z":"32369c38.86e7b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":500,"wires":[]},{"id":"bee0c389.a6f95","type":"function","z":"32369c38.86e7b4","name":"Prepare msg","func":"var o ={};\n\n    o.payload = \"B=\"+msg.payload+\"\\n\";\nreturn o;","outputs":1,"noerr":0,"x":350,"y":1640,"wires":[["ac97c2bf.c9b3","e37f8c98.e683","5bc2d4b0.285fac"]]},{"id":"a4f47adb.401c98","type":"color-convert","z":"32369c38.86e7b4","input":"hsv","output":"hex","outputType":"string","scaleInput":false,"x":450,"y":1740,"wires":[["e37f8c98.e683","f2b57852.22a728"]]},{"id":"509dc295.c24ffc","type":"ui_slider","z":"32369c38.86e7b4","name":"","label":"Saturation","tooltip":"","group":"2f4f6375.844b7c","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":90,"y":1740,"wires":[["5058445a.8585ac"]]},{"id":"38e0df99.d95b","type":"debug","z":"32369c38.86e7b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1310,"y":1640,"wires":[]},{"id":"75285322.f48bcc","type":"ui_slider","z":"32369c38.86e7b4","name":"","label":"Brillance","tooltip":"","group":"2f4f6375.844b7c","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":80,"y":1820,"wires":[["a1be872.2423178"]]},{"id":"44259228.93ae1c","type":"debug","z":"32369c38.86e7b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1410,"y":1880,"wires":[]},{"id":"76a97c8f.d2a0b4","type":"color-convert","z":"32369c38.86e7b4","input":"hsv","output":"hex","outputType":"string","scaleInput":false,"x":550,"y":1820,"wires":[["e37f8c98.e683","8be7ffa3.bd157"]]},{"id":"a1be872.2423178","type":"function","z":"32369c38.86e7b4","name":"Prepare msg","func":" return[{\"payload\":[60,100,msg.payload]}]\n","outputs":1,"noerr":0,"x":350,"y":1820,"wires":[["76a97c8f.d2a0b4"]]},{"id":"5058445a.8585ac","type":"function","z":"32369c38.86e7b4","name":"Prepare msg","func":" return[{\"payload\":[60,msg.payload,50]}]\n","outputs":1,"noerr":0,"x":250,"y":1740,"wires":[["a4f47adb.401c98"]]},{"id":"8be7ffa3.bd157","type":"function","z":"32369c38.86e7b4","name":"Set Color","func":"var o ={};\n\n    o.payload = \"C=\"+msg.payload+\"\\n\";\n   o.payload = o.payload.replace(\"#\",\"\");\nreturn o;","outputs":1,"noerr":0,"x":940,"y":1820,"wires":[["44259228.93ae1c","5bc2d4b0.285fac"]]},{"id":"f2b57852.22a728","type":"function","z":"32369c38.86e7b4","name":"Set Color","func":"var o ={};\n\n    o.payload = \"C=\"+msg.payload+\"\\n\";\n    o.payload = o.payload.replace(\"#\",\"\");\nreturn o;","outputs":1,"noerr":0,"x":700,"y":1720,"wires":[["38e0df99.d95b","5bc2d4b0.285fac"]]},{"id":"64778c95.2a8274","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"32955cd3.b3bce4","order":1,"width":"3","height":"2","passthru":false,"label":"Animation","tooltip":"","color":"","bgcolor":"red","icon":"wb_incandescent","payload":"3","payloadType":"num","topic":"","x":89,"y":2532.0391635894775,"wires":[["ed2da1fd.6669c"]]},{"id":"57c7ba40.a69794","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"32955cd3.b3bce4","order":2,"width":"3","height":"2","passthru":false,"label":"Color","tooltip":"Color","color":"","bgcolor":"green","icon":"color_lens","payload":"2","payloadType":"num","topic":"","x":74.00003814697266,"y":2428.039539337158,"wires":[["85ab37dd.9b4cf8"]]},{"id":"a633d32b.61c4c","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"32955cd3.b3bce4","order":5,"width":"3","height":"2","passthru":false,"label":"Visualizer","tooltip":"","color":"","bgcolor":"orange","icon":"hearing","payload":"V=101","payloadType":"str","topic":"","x":667.2421798706055,"y":2117.0235443115234,"wires":[["1b307063.79eb6","5bc2d4b0.285fac","151f0eeb.0d7a91"]]},{"id":"3f57099e.06d9a6","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"32955cd3.b3bce4","order":6,"width":"3","height":"2","passthru":false,"label":"Spectrum","tooltip":"","color":"","bgcolor":"","icon":"audiotrack","payload":"V=101","payloadType":"str","topic":"","x":70.2421875,"y":2205.0233974456787,"wires":[["1b307063.79eb6","5bc2d4b0.285fac","151f0eeb.0d7a91"]]},{"id":"756bd1d8.a923d","type":"ui_slider","z":"32369c38.86e7b4","name":"","label":"Number of LED","tooltip":"","group":"32955cd3.b3bce4","order":4,"width":"2","height":"4","passthru":true,"outs":"all","topic":"","min":0,"max":"56","step":1,"x":85,"y":1963.8515224456787,"wires":[["62fd8bf7.71bef4"]]},{"id":"ffe3496b.bf8508","type":"ui_switch","z":"32369c38.86e7b4","name":"","label":"","tooltip":"","group":"32955cd3.b3bce4","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"brightness_5","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"brightness_2","offcolor":"black","x":78.0078125,"y":2315.9140491485596,"wires":[["479a9f98.bd5b3"]]},{"id":"62fd8bf7.71bef4","type":"function","z":"32369c38.86e7b4","name":"Selected LED","func":"var o ={};\n\n    o.payload = \"N=\"+ msg.payload +\"\\n\";\nreturn o;","outputs":1,"noerr":0,"x":446,"y":1964,"wires":[["151f0eeb.0d7a91"]]},{"id":"479a9f98.bd5b3","type":"function","z":"32369c38.86e7b4","name":"Prepare msg","func":"var o ={};\nif (msg.payload===true) \n{\n    o.payload = \"A=101\\n\";\n}\nif (msg.payload===false) \n{\n    o.payload = \"A=102\\n\";\n}\n\nreturn o;","outputs":1,"noerr":0,"x":283.00000762939453,"y":2311.3333168029785,"wires":[["5bc2d4b0.285fac"]]},{"id":"ed2da1fd.6669c","type":"ui_ui_control","z":"32369c38.86e7b4","name":"Color picker","x":295.00003814697266,"y":2530.000534057617,"wires":[[]]},{"id":"85ab37dd.9b4cf8","type":"ui_ui_control","z":"32369c38.86e7b4","name":"Animation slot","x":306,"y":2428.333541870117,"wires":[[]]},{"id":"ae585937.4400a8","type":"ui_colour_picker","z":"32369c38.86e7b4","name":"Color Picker","label":"","group":"4ae768ef.64eac8","format":"hex","outformat":"string","showSwatch":false,"showPicker":true,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":2,"width":"4","height":"5","passthru":true,"topic":"","x":661.0234642028809,"y":2428.039095878601,"wires":[["1b307063.79eb6","59d8c2a9.49fb4c"]]},{"id":"d279a447.35f7b8","type":"ui_dropdown","z":"32369c38.86e7b4","name":"","label":"","tooltip":"","place":"Select option","group":"a29661fa.b460e","order":1,"width":"0","height":"0","passthru":true,"options":[{"label":"Strobo","value":"A=107","type":"str"},{"label":"Cycle colors","value":"A=151","type":"str"},{"label":"Pixel shift right","value":"A=201","type":"str"},{"label":"Pixel shift left","value":"A=202","type":"str"},{"label":"Pixel bounce","value":"A=203","type":"str"},{"label":"Comet","value":"A=221","type":"str"},{"label":"Moving bars","value":"A=241","type":"str"},{"label":"Moving gradient","value":"A=242","type":"str"},{"label":"Larsons scanner 1","value":"A=251","type":"str"},{"label":"Larsons scanner 2","value":"A=252","type":"str"},{"label":"Fade in","value":"A=301","type":"str"},{"label":"Fade out","value":"A=302","type":"str"},{"label":"Fade inout","value":"A=303","type":"str"},{"label":"Glow","value":"A=304","type":"str"},{"label":"Plasma","value":"A=305","type":"str"},{"label":"Fade colors","value":"A=351","type":"str"},{"label":"Fade colors loop","value":"A=352","type":"str"},{"label":"Pixels fade colors","value":"A=353","type":"str"},{"label":"Flame","value":"A=354","type":"str"},{"label":"Fire","value":"A=501","type":"str"},{"label":"Bouncing balls","value":"A=502","type":"str"},{"label":"Bubbles","value":"A=503","type":"str"},{"label":"Reactive","value":"A=601","type":"str"}],"payload":"","topic":"","x":75.77344512939453,"y":2259.984676361084,"wires":[["1b307063.79eb6","5bc2d4b0.285fac","151f0eeb.0d7a91"]]},{"id":"59d8c2a9.49fb4c","type":"function","z":"32369c38.86e7b4","name":"Set Color","func":"var o ={};\n\n    o.payload = \"C=\"+msg.payload+\"\\n\";\nreturn o;","outputs":1,"noerr":0,"x":906.0234375,"y":2429.0390625,"wires":[["70406957.d63c18","5bc2d4b0.285fac","151f0eeb.0d7a91"]]},{"id":"70406957.d63c18","type":"debug","z":"32369c38.86e7b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1188.0000534057617,"y":2429.000156402588,"wires":[]},{"id":"4b36fecf.15e35","type":"ui_slider","z":"32369c38.86e7b4","name":"","label":"Brillance","tooltip":"","group":"4ae768ef.64eac8","order":2,"width":"4","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":655.0234375,"y":2483.0390625,"wires":[["a1be872.2423178"]]},{"id":"69d6b181.7ccee","type":"ui_slider","z":"32369c38.86e7b4","name":"","label":"Saturation","tooltip":"","group":"4ae768ef.64eac8","order":2,"width":"4","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":667.0234375,"y":2541.0390625,"wires":[["5058445a.8585ac"]]},{"id":"88bd56ad.3ac2c8","type":"ui_slider","z":"32369c38.86e7b4","name":"","label":"Luminosité","tooltip":"","group":"4ae768ef.64eac8","order":2,"width":"4","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":667.0234375,"y":2598.0390625,"wires":[["bee0c389.a6f95"]]},{"id":"879dfc7.46ad4","type":"ui_ui_control","z":"32369c38.86e7b4","name":"Home","x":1864.0234375,"y":2594.0390625,"wires":[[]]},{"id":"3b14cd94.1b4172","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"4ae768ef.64eac8","order":2,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"grey","icon":"arrow_back","payload":"1","payloadType":"num","topic":"","x":1652.0234375,"y":2594.0390625,"wires":[["879dfc7.46ad4"]]},{"id":"af89cfb.302ae3","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"e9a715c3.817d18","order":2,"width":"0","height":"0","passthru":false,"label":"Raspberry","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":1670.023494720459,"y":2672.039108276367,"wires":[["879dfc7.46ad4"]]},{"id":"325a311c.eb9ece","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"a29661fa.b460e","order":8,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"grey","icon":"arrow_back","payload":"1","payloadType":"num","topic":"","x":1648.0234375,"y":2537.0390625,"wires":[["879dfc7.46ad4"]]},{"id":"df14af8f.54895","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"e9a715c3.817d18","order":5,"width":0,"height":0,"passthru":false,"label":"Smarphone","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"","x":1673.7734375,"y":2759.546875,"wires":[["879dfc7.46ad4"]]},{"id":"af7f9808.7c01d8","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"e9a715c3.817d18","order":7,"width":0,"height":0,"passthru":false,"label":"Serial / ESP","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"Serial port being used to communicate.                 You could also use esp broker (MQTT protocol) ","payloadType":"str","topic":"","x":1673.7734375,"y":2813.546875,"wires":[["f41dd1bc.10357"]]},{"id":"f41dd1bc.10357","type":"ui_toast","z":"32369c38.86e7b4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Connection : ","name":"Connection : ","x":1934.7812461853027,"y":2813.7423553466797,"wires":[[]]},{"id":"151f0eeb.0d7a91","type":"mqtt out","z":"32369c38.86e7b4","name":"ESP","topic":"esp8266/ws2812b","qos":"0","retain":"false","broker":"14691ff6.aa393","x":1464.7734928131104,"y":1279.9844150543213,"wires":[]},{"id":"5bc2d4b0.285fac","type":"serial out","z":"32369c38.86e7b4","name":"","serial":"34cdada9.ed6d62","x":1046.0000228881836,"y":602.9999980926514,"wires":[]},{"id":"c9f70519.dd80d8","type":"mqtt in","z":"32369c38.86e7b4","name":"","topic":"esp8266/ws2812b","qos":"0","datatype":"auto","broker":"14691ff6.aa393","x":142.7734375,"y":289.2109375,"wires":[["63a9dd20.38acd4"]]},{"id":"63a9dd20.38acd4","type":"debug","z":"32369c38.86e7b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":532.0234375,"y":281.0390625,"wires":[]},{"id":"6b7af16b.68c3c","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"1bd4bc91.5ac183","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"wifi","payload":"","payloadType":"str","topic":"","x":1844.773551940918,"y":758.546914100647,"wires":[[]]},{"id":"87176ec6.8c308","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"1bd4bc91.5ac183","order":2,"width":"3","height":"1","passthru":false,"label":"display 1","tooltip":"","color":"white","bgcolor":"grey","icon":"","payload":"","payloadType":"str","topic":"","x":1767.7890625,"y":834.5546875,"wires":[[]]},{"id":"ba90daf4.e96198","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"1bd4bc91.5ac183","order":3,"width":"3","height":"1","passthru":false,"label":"display 2","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"","payloadType":"str","topic":"","x":1930.7735557556152,"y":831.5547256469727,"wires":[[]]},{"id":"9f78c5e3.3a69f8","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"1bd4bc91.5ac183","order":4,"width":"3","height":"1","passthru":false,"label":"display 3","tooltip":"","color":"white","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":1767.0234375,"y":900.5390625,"wires":[[]]},{"id":"af6cfd2d.fc96a","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"1bd4bc91.5ac183","order":5,"width":"3","height":"1","passthru":false,"label":"display 4","tooltip":"","color":"white","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":1936.0234375,"y":901.5390625,"wires":[[]]},{"id":"1afb7456.c3adfc","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"1bd4bc91.5ac183","order":6,"width":"3","height":"1","passthru":false,"label":"display 6","tooltip":"","color":"white","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":1946.023431777954,"y":978.5391311645508,"wires":[[]]},{"id":"3bbb451d.1d720a","type":"ui_button","z":"32369c38.86e7b4","name":"","group":"1bd4bc91.5ac183","order":7,"width":"3","height":"1","passthru":false,"label":"display 5","tooltip":"","color":"white","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":1770.0234298706055,"y":975.5390701293945,"wires":[[]]},{"id":"d6408790.227168","type":"ui_slider","z":"32369c38.86e7b4","name":"","label":"slider","tooltip":"","group":"1bd4bc91.5ac183","order":9,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":1758.7734375,"y":1054.375,"wires":[[]],"icon":"font-awesome/fa-volume-up"},{"id":"ddb51897.8b7fe8","type":"ui_numeric","z":"32369c38.86e7b4","name":"","label":"numeric","tooltip":"","group":"1bd4bc91.5ac183","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":1628.7890625,"y":1198.3046875,"wires":[[]]},{"id":"34cdada9.ed6d62","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"3cdf2e75.0b5a02","type":"ui_group","z":"","name":"WS2812b controller","tab":"71df4e44.d20bd","order":1,"disp":true,"width":"6","collapse":true,"info":"<div style=\"text-align: center;\">"},{"id":"e9a715c3.817d18","type":"ui_group","z":"","name":"Menu","tab":"6bab8a6b.0b6484","order":2,"disp":false,"width":"6","collapse":false},{"id":"7cb1f154.168ed","type":"ui_group","z":"","name":"Historique","tab":"20534675.2ecbaa","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f4f6375.844b7c","type":"ui_group","z":"","name":"Group 1","tab":"28977cc7.b692d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"32955cd3.b3bce4","type":"ui_group","z":"","name":"WS2812b LED controller","tab":"ce3ba550.948638","order":1,"disp":true,"width":"8","collapse":true},{"id":"4ae768ef.64eac8","type":"ui_group","z":"","name":"color_picker","tab":"9ef2f2a9.b1f16","order":1,"disp":false,"width":"8","collapse":false},{"id":"a29661fa.b460e","type":"ui_group","z":"","name":"animations","tab":"473e10fc.9a35b","order":1,"disp":true,"width":"6","collapse":false},{"id":"14691ff6.aa393","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1bd4bc91.5ac183","type":"ui_group","z":"","name":"Home Page","tab":"6bab8a6b.0b6484","order":1,"disp":true,"width":"6","collapse":false},{"id":"71df4e44.d20bd","type":"ui_tab","z":"","name":"W2812b","icon":"highlight","order":6,"disabled":false,"hidden":false,"info":"<div style=\"text-align: center;\">"},{"id":"6bab8a6b.0b6484","type":"ui_tab","z":"","name":"Menu","icon":"menu","order":1,"disabled":false,"hidden":false},{"id":"20534675.2ecbaa","type":"ui_tab","z":"","name":"Logs","icon":"settings_power","order":7,"disabled":false,"hidden":false},{"id":"28977cc7.b692d4","type":"ui_tab","z":"","name":"Lamp","icon":"brightness_medium","order":5,"disabled":false,"hidden":false},{"id":"ce3ba550.948638","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"9ef2f2a9.b1f16","type":"ui_tab","z":"","name":"Rpi_Interface","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"473e10fc.9a35b","type":"ui_tab","z":"","name":"Rpi_interface2","icon":"dashboard","order":4,"disabled":false,"hidden":true}]